# General
.DS_Store
.env
.env.local
.env.*.local

# Tooling
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Client
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local
client/logs/
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

# Server
server/__pycache__/
server/*.pyc
server/.ipynb_checkpoints/
server/venv/
server/.pytest_cache/
server/data/.ebird_session.json
server/data/ebird_out
