
services:
  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
